/* Global Styles */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #F7F7F7;
    /* background-image: url(/assets/img/Без\ имени-1.jpg); */
    background-image: url(/assets/icons/Logo\ sign\ gray.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    left: 20%;
    z-index: -100;
    padding: 0 2rem;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Ensure the overlay is behind the content */
}

/* Header Styling */
header {
    width: 100%;
    padding: 0;
}

.header-wrapper {
    max-width: 68.75rem;
    margin: 1rem auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7F7F7; 
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    padding: 0.5rem 1rem; 
}

.nav-bar {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-links {
    display: flex;
    gap: 5rem;
    padding-right: 1rem;
}

.nav-links li {
    list-style: none;
    font-family: "Bebas Neue";
    font-size: 22px;
    letter-spacing: 1.2px;
}

.auth-buttons {
    display: flex;
    gap: 1rem;
}

.blind-button {
    text-align: center;
    padding: 0.3rem 0.9rem;
    flex-shrink: 0;
    border-radius: 30px;
    border: none;
    font-family: "Bebas Neue";
    color: #272727;
    font-size: 20px;
    letter-spacing: 1.2px;
    transition: all 0.1s ease-in-out;
}

.blind-button:hover {
    cursor: pointer;
    border: #272727 2px solid;
}


.cta-button {
    padding: 0.5rem 1.1rem;
    flex-shrink: 0;
    border-radius: 30px;
    background-color: rgba(253, 120, 152, 1);
    border: none;
    font-family: "Bebas Neue";
    color: #F7F7F7;
    font-size: 20px;
    letter-spacing: 1.2px;
    transition: all 0.3s ease-in-out;
}

.cta-button:hover {
    cursor: pointer;
    background-color: #DD4A6D;
    scale: 1.1;
}

.nav-links a {
    text-decoration: none;
    color: #272727;
    transition: all 0.3s ease-in-out;
    font-family: "Bebas Neue";
    font-size: clamp(1rem, 2.5vw, 1.3rem);

}

li {
    list-style: none;
}

.underline {
    text-decoration: underline;
}

.burger-menu {
    display: none;
}
/*------------------------------------------------------------------------------------------*/
/*Main styling*/
/*------------------------------------------------------------------------------------------*/

span{
    font-family: "Bebas Neue";
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    color: #272727;
    padding: 1rem 0;
    font-stretch: normal;
    letter-spacing: 0.05em;
    text-align: center;
}

.account{
    max-width: 68.75rem;
    margin: 1rem auto; 
    background-color: #f7f7f7c9; 
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    padding: 0.5rem 1rem; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.account-info{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.user-photo{
    padding: 1rem;
}

h2{
    font-family: "Bebas Neue";
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    color: #272727;
    padding: 1rem 0;
    font-stretch: normal;
    letter-spacing: 0.05em;
    text-align: center;
}
.account-buttons{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

/*------------------------------------------------------------------------------------------------------*/
#profile-edit {
    display: none; /* Initially hidden */
    width: 100%;
}

.edit-container{
    max-width: 68.75rem;
    margin: 1rem auto; 
    background-color: #f7f7f7c9; 
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    padding: 0.5rem 1rem; 
}

.heading-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo-username{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.heading-content .close-icon img{
    width: 100%;
}

.heading-content img{
    width: 5rem;
}

.categories-and-Form{
    display: flex;
    justify-content: space-evenly;
    padding: 0 1rem;
}

.category-list{
   padding: 1rem;
   width: 30%;
   display: flex;
}
.edit-category{
    font-family: "Bebas Neue";
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    padding: 1rem 0;
    font-stretch: normal;
    letter-spacing: 0.05em;
    text-align: left;
    color: #272727;
}
.edit-categoty ul li a{
    font-family: "Bebas Neue";
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    color: #272727;
    padding: 2rem 0;
    font-stretch: normal;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 1rem;
}

.selected a{
    text-decoration: underline;
    color: #272727;
    
}
.delete-account a{
    color: #DD4A6D;
    text-decoration: none;
}
 .gray a{
    color: #7C7B7B;
    text-decoration: none;
    
}
span.edit-categoty {
    color: #7C7B7B;
}
/* .slice{
    margin: 7rem 0 0 0 ;
} */

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.input-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-section label {
    font-size: 1em;
    color: #272727;
    margin-bottom: 0.5em;
}

input, select {
    outline: none;
    width: 100%;
    border-radius: 10px;
    padding: 0.8em 0.5em;
    border: 1px solid #272727;
    font-size: 1em;
    color: #272727;
    position: relative;
}

textarea {
    outline: none;
    width: 100%;
    border-radius: 10px;
    padding: 0.8em 0.5em;
    border: 1px solid #272727;
    font-size: 1em;
    color: #272727;
}

.input-icon-container {
    position: relative;
}

.input-section img.password-icon {
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px; 
    height: 24px; 
    z-index: 1;
}

.password-requirements {
    /* display: none; */
    position: absolute;
    top: 2.5em;
    right: 0.5em;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 1rem;
    width: 70%;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    z-index: 10;
}
.radio-section {
    gap: 2rem;
    margin: 1.5rem 0;
}

.radio-section label{
    margin-right: 3rem;
}

.radio-section input[type="radio"] {
    width: 15px;
}

.checkbox-section {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;   
}

.checkbox-section input[type="checkbox"] {
    margin-right: 0.5em;
    width: 15px;
}

.full-width {
    width: 100%;
}

.submit-button button {
    width: 100%;
    padding: 0.6em;
    border-radius: 30px;
    border: none;
    font-family: "Bebas Neue";
    font-size: 20px;
    background-color: #FE7999;
    letter-spacing: 1.2px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button button:hover {
    background-color: #DD4A6D;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}

.error-message.hide {
    display: none;
}

.form-error-message {
    padding: 1rem;
    font-size: 1rem;
    color: #e91e63;
    text-align: center;
}

.success-message {
    color: green;
    font-size: 1em;
}




/*------------------------------------------------------------------------------------------*/
/*FOOTER*/
/*------------------------------------------------------------------------------------------*/

footer{
    width: 100%;
    padding: 0;
}

.footer-wrapper{
    max-width: 68.75rem;
    margin: 1rem auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F7F7F7; 
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    padding: 0.5rem 1rem; 
}

.top-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.footer-soc-icons img{
   padding: 0 1rem;
}

.bottom-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.nav-terms {
    display: flex;
}

.nav-terms li a {
    text-decoration: none;
    padding: 0 4rem;
    color: #272727;
}

