/* General styling for sections */
.section {
    display: none; /* Hide sections by default */
}

/* Styling for visible sections */
.section.show {
    display: block; /* Display the section when active */
}

/*------------------------------------------------------------------------------------------*/
/*Main styling*/
/*------------------------------------------------------------------------------------------*/

span{
    font-family: "Bebas Neue";
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    color: #272727;
    padding: 1rem 0;
    font-stretch: normal;
    letter-spacing: 0.05em;
    text-align: center;
}

.account{
    max-width: 68.75rem;
    padding: 0 2rem;
    margin: 1rem auto; 
    background-color: #f7f7f7c9; 
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    padding: 0.5rem 1rem; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.account-info{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.user-photo {
    width: 150px; 
    height: 150px;
    overflow: hidden; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FE7999; 
    margin: 1rem;
}

.user-photo img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}

h2{
    font-family: "Bebas Neue";
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    color: #272727;
    padding: 1rem 0;
    font-stretch: normal;
    letter-spacing: 0.05em;
    text-align: center;
}
.account-buttons{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.blind-button {
    text-align: center;
    padding: 0.3rem 0.9rem;
    flex-shrink: 0;
    border-radius: 30px;
    border: none;
    font-family: "Bebas Neue";
    color: #272727;
    font-size: 20px;
    letter-spacing: 1.2px;
    transition: all 0.1s ease-in-out;
}

.blind-button:hover {
    cursor: pointer;
    border: #272727 2px solid;
}

/* Profile edit section styling */
#profile-edit {
    width: 100%;
    display: none;
}

.edit-container {
    max-width: 68.75rem;
    margin: 1rem auto;
    background-color: #f7f7f7c9;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.photo-username {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
}

.username-category {
    display: flex;
    align-items: center;
}

p.edit-category.gray {
    color: #7C7B7B;
}

.photo-username span {
    font-size: clamp(1.2rem, 2.5vw, 1.8rem);
}

.heading-content .close-icon img {
    width: 2rem;
    cursor: pointer;
}

.heading-content img {
    width: 5rem;
}

.categories-and-form {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    width: 70%;
}

/* Modal styles */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

/* Modal content */
.modal-content {
    background-color: #f7f7f7f5; 
    margin: 15% auto; /* Centered */
    padding: 20px;
    
    width: 80%;
    max-width: 400px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15); 
}

.modal-content p{
    padding: 2rem 1rem 1rem 1rem;
    font-family: "Bebas Neue";
    color: #272727;
    font-size: 1.2rem;

}

/* Close button */
.modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style for buttons in the modal */
.modal-content .modal-blind-button,
.modal-content .modal-cta-button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-family: "Bebas Neue";
    font-size: 16px;
    letter-spacing: 1.2px;
    transition: all 0.3s ease-in-out;
}

/* Confirm button (blind button) styling */
.modal-content .modal-blind-button {
    background-color: rgba(253, 120, 152, 1);
    color: #F7F7F7;
}

.modal-content .modal-blind-button:hover {
    background-color: #DD4A6D;
}

/* Decline button (cta button) styling */
.modal-content .modal-cta-button {
    background-color: #DD4A6D;
    color: #F7F7F7;
}

.modal-content .modal-cta-button:hover {
    background-color: #FE7999;
}

.response-message {
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 10px;
}

.response-message.success {
    background-color: #d4edda;
    color: #155724;
    text-align: center;
}

.response-message.error {
    background-color: #f8d7da;
    color: #721c24;
    text-align: center;
}

.error-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.error-list .error {
    color: #721c24;
}