@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 
/* Global Styles */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #F7F7F7;
    background-image: url(/assets/icons/Logo\ sign\ gray.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    left: 20%;
    z-index: -100;
    /* padding: 0 2rem; */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Ensure the overlay is behind the content */
}

header, footer{
    width: 100%;
    padding: 0 2rem;;
 }
